/* .class1 {
  background-color: black;
  color: white;
  font-weight: bolder;
  height: 100%;
  width: 100%;
} */

body {
  background-color: black;
  color: white;
  font-weight: bolder;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.periodOfDay{
  color: purple;
}